<div class="container mat-body-2" *ngIf="!detail.selectedComic">
  <mat-progress-bar class="carregando" *ngIf="!comics && !comics?.length"  mode="indeterminate"></mat-progress-bar>
<div class="box" *ngIf="comics">
  <mat-card class="card" *ngFor="let comic of comics">
    <mat-card-header id="{{comic?.id}}">
      <div *ngIf="comic.rare" class="rare-comic"><i class="material-icons" matTooltip="RARO">stars</i></div>
      <img mat-card-image src="{{comic?.thumbnail}}" alt="foto de {{comic?.title}}">
    </mat-card-header>
    <mat-card-title>{{comic?.title}}</mat-card-title>
    <mat-card-content>
            <div *ngFor="let p of comic?.prices">
              <span class="price" *ngIf="p.type === 'printPrice'">
               <strong>{{p.price | currency:'BRL':'symbol-narrow':'1.2-2':'pt'}}</strong> 
              </span>
            </div>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <button mat-raised-button matTooltip="Adicionar ao carrinho" (click)="setShoppingCart(comic)" color="primary">
        <i class="material-icons">add_shopping_cart</i>
      </button>
      <button mat-raised-button matTooltip="Detalhe" (click)="detail.selectedComic = comic" color="primary">
        <i class="material-icons">remove_red_eye</i>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<mat-progress-bar class="carregando" *ngIf="load"  mode="indeterminate"></mat-progress-bar>
    <div class="load-more">
        <button mat-raised-button *ngIf="comics && comics?.length > 1" [disabled]="load" color="primary" (click)="loadMore()">
            <i class="material-icons">expand_more</i>
      </button>
  </div>
</div>
<div class="container mat-body-2" *ngIf="detail.selectedComic">
  <app-details *ngIf="detail.selectedComic" [selectedComic]="detail.selectedComic"></app-details>
  <!--Obs: escolhi mostrar os detalhes a partir de @Input para evitar o tempo de carregamento de uma nova requisição e para preservar o status "raro"-->
</div>
