
@import '~@angular/material/theming';
@include mat-core();
@import 'app/resources/scss/utilities.scss';

$marvel-app-primary: mat-palette($mat-red);
$marvel-app-accent:  mat-palette($mat-yellow, A200, A100, A400);
$marvel-app-theme: mat-light-theme($marvel-app-primary, $marvel-app-accent);

@include angular-material-theme($marvel-app-theme);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 90%;
    margin: 0 auto;
    padding-top: 170px;
    @media screen and (max-width: 700px) {
        width: 100%;
        padding: 170px 1em;
    }
}

.rare-comic {
    position: absolute;
    right: -12px;
    top: -17px;
    background-color: #fff;
    border-radius: 100%;
    width: 39px;
    height: 32px;
    z-index: 99;
    i {
        font-size: 3em;
        color: rgb(255,215,0);
    }
}